<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

    <link href="../../Resources/css/Utilities/skeleton.css" rel='stylesheet' type='text/css' />
    <link href="../../Resources/css/Utilities/estandar.css" rel='stylesheet' type='text/css' />
    <link href="../../Resources/externos/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="../../Resources/externos/fontawesome/css/brands.css" rel="stylesheet">
    <link href="../../Resources/externos/fontawesome/css/solid.css" rel="stylesheet">



    <title>Inventarios</title>
</head>

<body>
    <header>
        <div class="d-flex fixed-top header-color  shadow-sm">
            <div class="nav-header">
                <i class="fas fa-bars bars-header" onclick="mostrar_menu(this)"></i>
                <h5 class="my-0 mr-md-auto font-weight-normal header-title">

                    Software de Inventario
                </h5>


            </div>
        </div>
    </header>
    <section>
        <div class="menu">
            <div class="option-menu" id="DivMenu">

            </div>
        </div>
    </section>

    <section>
        <div class="container-do-work row">

            <h5 id="tipopagina">Nueva entrada</h5>
            <hr />
            <div class="shadow formulario">
                <div class="row">
                    <div class="seven columns">
                        <label for="txtproveedor">Proveedor</label>
                        <input class="u-full-width autocomplete obligatorio" onblur="proveedor_entrada()" type="text"
                            placeholder="nombre del proveedor" id="txtproveedor">
                    </div>
                    <div class="two columns">
                        <label for="exampleEmailInput">Fecha</label>
                        <span>08/05/2019</span>
                    </div>
                    <div class="three columns">
                        <label for="exampleEmailInput">Opciones</label>

                        <button class="btn-icono btn-icono-primary" data-toggle="modal" data-target="#modalAgregar">
                            <span>
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                        <button class="btn-icono btn-icono-save" onclick="guardar_entrada()">
                            <span>
                                <i class="fas fa-save"></i>
                            </span>
                        </button>
                        <button class="btn-icono btn-icono-danger">
                            <span>
                                <i class="fas fa-trash"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="shadow" style="margin-top: 30px">
                <table>
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Descripción</th>
                            <th>Unidad de medida</th>
                            <th class="text-right">Cantidad</th>
                            <th class="text-right">Valor unitario</th>
                            <th class="text-right">Valor total</th>
                            <th class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id=tbodydatos>
                        <tr class="sin-registro">
                            <td colspan="6">
                                <h5 style="text-align: center;color:#b9b6b6">Sin registros</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>

    </section>


    <!-- Modal -->
    <div class="modal fade" id="modalAgregar" tabindex="9990" role="dialog" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="u-full-width">
                            <label for="exampleEmailInput">Buscar producto</label>
                            <div class="autocomplete">
                                <input class="u-full-width autocomplete" webservice="producto/buscar?filter="
                                    Fnselected="SelectedProducto" type="text" placeholder="nombre del producto"
                                    id="txtproducto">
                                <i class="fas fa-search"></i>

                            </div>
                        </div>
                        <div class="row">
                            <div class="u-full-width">
                                <label for="txtum">Unidad de medida</label>
                                <input class="u-full-width" type="text" placeholder="Unidad de medida" id="txtum">
                            </div>
                        </div>
                        <div class="row">
                            <div class="u-full-width">
                                <label for="txtcantidad">Cantidad</label>
                                <input class="u-full-width" type="number" placeholder="cantidad" id="txtcantidad">
                            </div>
                        </div>
                        <div class="row">
                            <div class="u-full-width">
                                <label for="txtunitario">Precio unitario</label>
                                <input class="u-full-width" type="number" placeholder="precio unitario"
                                    id="txtunitario">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span style="color:red">Todos los campos son obligatorios</span>
                        <button type="button" class="button-primary" onclick="agregarProducto()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalmensaje" tabindex="9990" role="dialog" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <span id="msn"></span>
                    <div class="modal-footer">

                        <button type="button" class="button-primary" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="../../Resources/js/commons/inventories-plugin.js"></script>
    <script src="../../Resources/js/commons/inventories-autocomplete.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="../../Resources/js/Login/header.js"></script>
    <script src="../../Resources/js/marco/marco.js"></script>
    <script src="../../Resources/js/commons/moment.js"></script>
    <script src="../../Resources/js/entries/newentries.js"></script>
</body>

</html>