<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link href="../../Resources/css/Utilities/skeleton.css" rel='stylesheet' type='text/css' />
    <link href="../../Resources/css/Utilities/estandar.css" rel='stylesheet' type='text/css' />
    <link href="../../Resources/externos/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="../../Resources/externos/fontawesome/css/brands.css" rel="stylesheet">
    <link href="../../Resources/externos/fontawesome/css/solid.css" rel="stylesheet">
    <title>Inventarios</title>
</head>

<body>
    <header>
        <div class="d-flex fixed-top header-color  shadow-sm">
            <div class="nav-header">
                <i class="fas fa-bars bars-header" onclick="mostrar_menu(this)"></i>
                <h5 class="my-0 mr-md-auto font-weight-normal header-title">

                    Software de Inventario
                </h5>


            </div>
        </div>
    </header>
    <section>
        <div class="menu">
            <div class="option-menu" id="DivMenu">

            </div>
        </div>
    </section>
    <section>
        <div class="container-do-work row">

            <h5 id="tipopagina">Nuevo producto</h5>
            <hr />
            <div class="shadow formulario">

                <form>
                    <div class="row">
                        <div class="six columns">
                            <label for="txtnombre">Nombre</label>
                            <input class="u-full-width" type="text" placeholder="nombre del producto" id="txtnombre">
                        </div>
                        <div class="six columns">
                            <label for="txtum">Unidad de medida</label>
                            <input class="u-full-width" type="text" placeholder="unidad de medida" id="txtum">
                        </div>

                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <label for="txtcategoria">Categoria</label>
                            <input type="text" id="txtcategoria" class="u-full-width" placeholder="categoria" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <label>Precio de compra</label>
                            <input type="number" id="txtcompra" class="u-full-width" placeholder="precio de compra" />
                        </div>
                        <div class="six columns">
                            <label>precio de venta</label>
                            <input type="number" id="txtventa" class="u-full-width" placeholder="precio de venta" />
                        </div>
                    </div>

                    <input class="button-primary" id="btnguardar" type="button" onclick="guardar()" value="Guardar">
                    <input class="button-primary" id="btneditar" style="display: none" type="button" onclick="editar()"
                        value="Editar">
                </form>


            </div>

        </div>
    </section>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../Resources/js/Login/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="../../Resources/js/marco/marco.js"></script>
    <script src="../../Resources/js/commons/inventories-plugin.js"></script>
    <script src="../../Resources/js/Produts/newproduct.js"></script>

</body>

</html>