body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

.font-weight-normal {
    font-weight: 400;
    color: white;
}

header {
    width: 100%;
    color: white;
    position: fixed;
    z-index: 99;
}

header h5 {
    font-size: 18px;
}

.header-title {
    margin-top: 0;
    padding: 15px;
}

.nav-header i {
    font-size: 25px;
    cursor: pointer;
    margin-right: 5px;
}

.d-flex {
    display: flex;
}

.border-bottom {
    border-bottom: 1px solid #ebebeb;
}

.p-3 {
    padding: 10px;
}

.mb-0, .my-0 {
    margin-bottom: 0;
}

.border-top {
    border-top: 1px solid #e65100;
}

.login-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* position: absolute; */
}

.form-login {
    width: 500px;
    padding: 10px;
    border: 1px solid #ebebeb;
}

.header-color {
    background: #e65100;
    color: white;
    height: 45px;
    width: 100%;
    z-index: 99;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.data-login {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer {
    position: fixed;
    height: 30px;
    width: 100%;
    text-align: center;
    z-index: 999;
    color: white;
    bottom: 0;
}

.footer-desc {
    background: #e65100;
    justify-content: space-around;
    display: flex;
}

i {
    cursor: pointer;
}

.mensaje-error {
    color: red;
}

/*
ESTILOS MENU
*/

.menu {
    position: absolute;
    width: 200px;
    height: 100%;
    border-right: 1px solid #e65100;
}

.option-menu {
    margin: 55px 5px 10px 5px;
}

.option-menu-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
}

.option-menu-item i {
    margin-top: 5px;
}

.active-option {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.option-menu-item:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

@media (max-width: 950px) {
    .data-login {
        display: block;
    }
    .login-container {
        flex-wrap: wrap;
    }
    .noticia-login {
        width: 95% !important;
        margin-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
        height: auto !important;
    }
    .form-login {
        width: 95%;
        margin-top: 0px !important;
    }
    .footer {
        position: initial;
        width: 99%;
    }
}