body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

.font-weight-normal {
    font-weight: 400;
    color: white;
}

header {
    width: 100%;
    color: white;
    position: fixed;
    z-index: 99;
}

header h5 {
    font-size: 18px;
}

.header-title {
    margin-top: 0;
    padding: 10px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-header i {
    font-size: 25px;
    cursor: pointer;
    margin: 7px 0 0 10px;
    font-size: 25px;
}

.d-flex {
    display: flex;
}

.border-bottom {
    border-bottom: 1px solid #ebebeb;
}

.p-3 {
    padding: 10px;
}

.mb-0, .my-0 {
    margin-bottom: 0;
}

.border-top {
    border-top: 1px solid #e65100;
}

.login-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* position: absolute; */
}

.form-login {
    width: 500px;
    padding: 10px;
    border: 1px solid #ebebeb;
}

.header-color {
    background: #e65100;
    color: white;
    height: 45px;
    width: 100%;
    z-index: 99;
}

.formulario {
    padding: 10px;
}

.row {
    display: block;
    margin: 0;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.data-login {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer {
    position: fixed;
    height: 30px;
    width: 100%;
    text-align: center;
    z-index: 999;
    color: white;
    bottom: 0;
}

.footer-desc {
    background: #e65100;
    justify-content: space-around;
    display: flex;
}

i {
    cursor: pointer;
}

.mensaje-error {
    color: red;
}

/*
ESTILOS MENU
*/

.menu {
    position: absolute;
    width: 200px;
    height: 100%;
    border-right: 1px solid #e65100;
    z-index: 9;
    background: white;
    overflow: auto;
}

.option-menu {
    margin: 55px 5px 10px 5px;
}

.option-menu-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
}

.option-menu-item i {
    margin-top: 5px;
}

.active-option {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.option-menu-item:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.sub-item-menu {
    margin-top: -5px;
    margin-bottom: -5px;
}

.oculto-menu {
    margin-left: 20px !important;
    width: 95% !important;
}

.texto-menu {
    color: #b9b6b6;
    margin-top: 20%;
    margin-left: 40%;
    font-weight: 400;
}

h5 {
    font-weight: 500;
    font-size: 18px;
}

.container-do-work {
    margin-top: 65px;
    position: absolute;
    z-index: -1;
    margin-left: 230px;
    width: 80%;
}

.container-option {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    margin-top: 55px;
    position: absolute;
    z-index: -1;
    margin-left: 230px;
    height: auto;
    padding: 5px;
    width: 80%;
}

/*
ESTILOS TABLA
*/

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

thead tr {
    height: 36px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

th {
    background: #e65100;
    color: white;
    padding: 5px;
    font-weight: 100;
}

th, td {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

table i {
    color: #e65100;
    font-size: 18px;
    margin-right: 5px;
}

.btn-icono {
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 0;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
}

.btn-icono-primary {
    background-color: #3f51b5;
}

.btn-icono-danger {
    background-color: red;
}

.btn-icono-save {
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, 0.87) !important;
}

.btn-icono :hover {
    color: #fff;
}

.btn-icono-save :hover {
    color: rgba(0, 0, 0, 0.87) !important;
}

.btn-icono span {
    width: 100%;
    display: inherit;
}

.btn-icono i {
    font-size: 20px;
    margin-left: 9px;
}

.modal-header span {
    font-size: 25px;
}

.swal2-content {
    font-size: 16px !important;
}

.swal2-styled.swal2-confirm {
    padding-top: 0px !important;
}

.swal2-actions button {
    font-size: 15px !important;
    background: #e65100 !important;
    color: white !important;
}

/**
ESTILOS AUTOCOMPLETE*/

.resultAC {
    z-index: 999;
    position: fixed;
    background: white;
    height: 250px;
    overflow: auto;
}

.option {
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.option:hover {
    background-color: #e65100;
    color: #f7f9f9;
    cursor: pointer;
}

.hover {
    background-color: #e65100;
    color: #f7f9f9;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .container-do-work, .container-option {
        width: 75% !important;
    }
}

@media (max-width: 950px) {
    .data-login {
        display: block;
    }
    .login-container {
        flex-wrap: wrap;
    }
    .noticia-login {
        width: 95% !important;
        margin-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
        height: auto !important;
    }
    .form-login {
        width: 95%;
        margin-top: 0px !important;
    }
    .footer {
        position: initial;
        width: 99%;
    }
    .menu {
        width: 99%;
    }
    .container-do-work {
        margin-left: 10px;
        width: 95%;
    }
    .container-option {
        margin-left: 10px;
        width: 95%;
    }
}

@media (max-width: 850px) {
    .menu {
        width: 99%;
    }
    .container-do-work {
        width: 95%;
        margin-left: 10px;
    }
    .container-option {
        margin-left: 10px;
        width: 95%;
    }
    hr {
        margin: 10px;
    }
    h5 {
        margin-bottom: 5px;
    }
}